 <header>
        <div class="container navbar">

            <div class="logo">
                <div class="logo-icon">
                    <i class="fa-solid fa-leaf"></i>
                </div>
                EcoSpark
            </div>

            <ul class="nav-links">
                <li class="dropdown">
                <a href="#home">Home</a>

               <ul class="dropdown-menu">
               <li><a href="#home">Home 1</a></li>
               <li><a href="../Homepage-2/homepage1.html">Home 2</a></li>

            </ul>
            </li>
                <li><a href="#services">Services</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#dashboard">Dashboard</a></li>
            </ul>

            <div class="header-actions">
                <button class="icon-btn" id="rtlToggle" >
                    RTL
                </button>

                <button class="icon-btn" id="themeToggle">
                    <i class="fa-solid fa-moon"></i>
                </button>

              
                <a href="#pricing" class="btn btn-primary">Book Now</a>
            </div>

            <div class="mobile-menu">
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>
    </header>